<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    <meta
      name="Description"
      content="Đại học Lạc Hồng - Tuyển sinh - Đăng ký xét tuyển"
    />
    <title>Đại học Lạc Hồng - Tuyển sinh - Đăng ký xét tuyển</title>

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WT8KRJ3");
    </script>
    <!-- End Google Tag Manager -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
      media="print"
      onload="this.media='all'"
    />

    <link rel="stylesheet" href="assets/css/mystyle.css" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WT8KRJ3"
        height="0"
        width="0"
        style="display: none; visibility: hidden;"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Add your code here -->

    <div id="leo-ts">
      <div id="back-drop" v-if="loading">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
      <div
        class="mycontainer container my-5 py-4 px-md-4 shadow"
        v-if="!loading"
      >
        <div class="row">
          <div class="col-sm-12 text-center">
            <h3 class="text-uppercase mb-5">
              Đăng ký xét tuyển Online
            </h3>
          </div>
        </div>

        <div class="row" v-if="ctvid && ctv">
          <div class="col-sm-12">
            <div class="alert alert-info" role="alert">
              Người đồng hành: {{ctv.HoTen}} - Điện thoại: {{ctv.DienThoai}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="alert alert-danger" role="alert">
              <a
                class="text-danger d-block mb-3"
                href="https://tuyensinh.lhu.edu.vn/resources/hoc-bong-nam-2020.pdf"
                target="_blank"
              >
                <img
                  src="assets/img/pdficon.svg"
                  style="width: 1em; height: 1em; vertical-align: baseline;"
                />
                Chính sách học bổng 2020</a
              >
              <a
                class="text-danger d-block"
                href="https://tuyensinh.lhu.edu.vn/resources/DOI-TUONG-XET-TUYEN-THANG-2020.pdf"
                target="_blank"
              >
                <img
                  src="assets/img/pdficon.svg"
                  style="width: 1em; height: 1em; vertical-align: baseline;"
                />
                Đối tượng xét tuyển thẳng 2020</a
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <form @submit.prevent="processForm">
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label"
                  >Đăng ký xét tuyển theo phương án:</label
                >
                <div class="col-sm-5">
                  <select
                    ref="phuongthuc"
                    class="custom-select mr-sm-2"
                    v-model="dataForm.PhuongThucXetTuyen"
                    @change="handleChangePhuongThuc"
                    v-validate="'required'"
                    data-vv-as="Phương thức xét tuyển"
                    name="ptxt"
                  >
                    <option :value="pt.value" v-for="pt in lsPhuongThuc"
                      >{{ pt.name }}</option
                    >
                  </select>
                  <span class="text-danger" v-show="errors.has('ptxt')">
                    {{ errors.first("ptxt") }}
                  </span>
                </div>
              </div>
              <div class="row mb-3" v-if="dataForm.PhuongThucXetTuyen===4">
                <label class="col-sm-4 col-form-label"
                  >Tuyển thẳng theo diện:</label
                >
                <div class="col-sm-5">
                  <select
                    ref="doituongtuyenthang"
                    class="custom-select mr-sm-2"
                    v-model="dataForm.DoiTuongTuyenThang"
                    @change="handleChangeTuyenThang"
                    v-validate="'required'"
                    data-vv-as="Đối tượng tuyển thẳng"
                    name="doituongtuyenthang"
                  >
                    <option :value="tt.IdTuyenThang" v-for="tt in lsDTTT"
                      >{{ tt.NamTuyenThang }}</option
                    >
                  </select>
                </div>
              </div>
              <div class="row mb-3" v-if="dataForm.PhuongThucXetTuyen===4">
                <label class="col-sm-4 col-form-label"
                  >Ghi chú đối tượng:</label
                >
                <div class="col-sm-6">
                  <input
                    type="text"
                    class="form-control"
                    id="tuyenthang"
                    formControlName="tuyenthang"
                    v-model="dataForm.TuyenThang"
                    name="tuyenthang"
                  />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-sm-12">
                  <h4 class="myh4">Thông tin cá nhân</h4>
                  <div class="dropdown-divider"></div>
                </div>
              </div>
              <div class="form-group row">
                <label for="hoten" class="col-sm-1 col-form-label"
                  >Họ tên</label
                >
                <div class="col-sm-6">
                  <input
                    type="text"
                    class="form-control"
                    id="hoten"
                    formControlName="hoten"
                    v-model="dataForm.HoTen"
                    name="hoten"
                    v-validate="'required'"
                    data-vv-as="Họ tên"
                  />
                  <span class="text-danger" v-show="errors.has('hoten')">
                    {{ errors.first("hoten") }}
                  </span>
                </div>
                <div class="col-sm-5 align-items-center">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="gtNam"
                      formControlName="gioitinh"
                      name="gioitinh"
                      :value="false"
                      v-model="dataForm.Nu"
                    />
                    <label class="form-check-label" for="gtNam">Nam</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="gtNu"
                      formControlName="gioitinh"
                      name="gioitinh"
                      :value="true"
                      v-model="dataForm.Nu"
                    />
                    <label class="form-check-label" for="gtNu">Nữ</label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ngaysinh" class="col-sm-3 col-form-label"
                  >Ngày tháng năm sinh</label
                >
                <div class="col-sm-3">
                  <input
                    type="text"
                    class="form-control"
                    id="ngaysinh"
                    formControlName="ngaysinh"
                    placeholder="dd/mm/yyyy"
                    v-model="dataForm.NgaySinh"
                    name="ngaysinh"
                    v-validate="'required|date_format:dd/MM/yyyy'"
                    data-vv-as="Ngày sinh"
                  />
                  <span class="text-danger" v-show="errors.has('ngaysinh')">
                    {{ errors.first("ngaysinh") }}
                  </span>
                </div>
                <!-- </div>
              <div class="form-group row"> -->
                <label for="noisinh" class="col-sm-2 col-form-label"
                  >Nơi sinh</label
                >
                <div class="col-sm-3">
                  <select
                    class="custom-select mr-sm-2"
                    id="noisinh"
                    formControlName="noisinh"
                    v-model="dataForm.NoiSinh"
                    name="noisinh"
                    v-validate="{ required: true }"
                    data-vv-as="Nơi sinh"
                  >
                    <option
                      v-for="tinh in lsTinhThanhSinh"
                      :value="tinh.MaTinhTP"
                      >{{ tinh.TenTinhTP }}</option
                    >
                  </select>
                  <span class="text-danger" v-show="errors.has('noisinh')">
                    {{ errors.first("noisinh") }}
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <label for="cmnd" class="col-sm-3 col-form-label"
                  >Sô CMND/ Căn cước công dân</label
                >
                <div class="col-sm-4">
                  <input
                    type="text"
                    class="form-control"
                    id="cmnd"
                    formControlName="cmnd"
                    placeholder="Nhập số chứng minh hoặc thẻ căn cước"
                    v-model="dataForm.CMND"
                    maxlength="12"
                    name="cmnd"
                    v-validate="'numeric|min:9|max:12'"
                    data-vv-as="Số CMND/Căn cước"
                  />
                  <span class="text-danger" v-show="errors.has('cmnd')">
                    {{ errors.first("cmnd") }}
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <label for="dienthoai" class="col-sm-3 col-form-label">
                  Điện thoại liên lạc
                </label>
                <div class="col-sm-4">
                  <input
                    type="text"
                    class="form-control"
                    id="dienthoai"
                    formControlName="dienthoai"
                    v-model="dataForm.DienThoai"
                    name="dienthoai"
                    v-validate="'required|numeric|min:9|max:12'"
                    data-vv-as="Số điện thoại"
                  />
                  <span class="text-danger" v-show="errors.has('dienthoai')">
                    {{ errors.first("dienthoai") }}
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">
                  Email
                </label>
                <div class="col-sm-4">
                  <input
                    v-validate="'email'"
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    formControlName="email"
                    v-model="dataForm.Email"
                    data-vv-as="Địa chỉ email"
                  />
                  <span class="text-danger" v-show="errors.has('email')">
                    {{ errors.first("email") }}
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12 col-form-label"
                  >Trường Đại học Lạc Hồng gửi kết quả xét tuyển cho ai, theo
                  địa chỉ nào?</label
                >
              </div>
              <div class="form-group row">
                <div class="col-12">
                  <textarea
                    rows="3"
                    class="w-100 form-control"
                    formControlName="diachi"
                    v-model="dataForm.DiaChi"
                    placeholder="Số nhà, tổ, khu phố/ấp, phường/xã, huyện /thị, tỉnh/ thành phố"
                  ></textarea>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-12">
                  <h4 class="myh4">Nơi học THPT</h4>
                  <div class="dropdown-divider"></div>
                </div>
              </div>
              <!--  begin lop 10-->
              <!-- <div class="row">
                <div class="col-sm-12">
                  <h6 class="font-weight-bold">
                    Lớp 10
                  </h6>
                </div>
              </div> 

              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="tinh1">Tỉnh/ Thành phố</label>
                  <select
                    class="form-control"
                    id="tinh1"
                    name="tinh1"
                    formControlName="tinh1"
                    v-model="dataForm.MaTinhTPLop10"
                    @change="getQuanHuyen(10)"
                    name="tinh1"
                    v-validate="{required: true, is_not: '00'}"
                    data-vv-as="Tỉnh/ Thành phố"
                  >
                    <option value="00">-- Chọn --</option>
                    <option v-for="tinh in lsTinhThanh" :value="tinh.MaTinhTP"
                      >{{ tinh.TenTinhTP }}</option
                    >
                  </select>
                  <span class="text-danger" v-show="errors.has('tinh1')">
                    {{ errors.first("tinh1") }}
                  </span>
                </div>
                <div class="form-group col-sm-4">
                  <label for="quan1">Quận/ Huyện</label>
                  <select
                    class="form-control"
                    id="quan1"
                    formControlName="quan1"
                    v-model="dataForm.MaQuanHuyenLop10"
                    @change="getTruong(10)"
                    name="quan1"
                    v-validate="{required: true, is_not: '00'}"
                    data-vv-as="Quận/ Huyện"
                  >
                    <option value="00">-- Chọn --</option>
                    <option v-for="qh in lsQuanHuyen10" :value="qh.MaQuanHuyen"
                      >{{ qh.TenQuanHuyen }}</option
                    >
                  </select>
                  <span class="text-danger" v-show="errors.has('quan1')">
                    {{ errors.first("quan1") }}
                  </span>
                </div>
                <div class="form-group col-sm-4">
                  <label for="truong1">Trường THPT</label>
                  <select
                    class="form-control"
                    id="truong1"
                    formControlName="truong1"
                    v-model="dataForm.MaTruongLop10"
                    name="truong1"
                    v-validate="{required: true, is_not: '00'}"
                    data-vv-as="Trường"
                  >
                    <option value="00">-- Chọn --</option>
                    <option
                      v-for="truong in lsTruongTHPT10"
                      :value="truong.MaTruong"
                      >{{ truong.TenTruong }}</option
                    >
                  </select>
                  <span class="text-danger" v-show="errors.has('truong1')">
                    {{ errors.first("truong1") }}
                  </span>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <h6 class="font-weight-bold">
                    Lớp 11 -
                    <span class="myh6 cursor-pointer" @click="copyAbove(11)">
                      (Giống nơi học lớp 10)
                    </span>
                  </h6>
                </div>
              </div>-->
              <!-- end lop 10-->
              <!-- begin lop 11-->
              <!-- <div class="row">
                <div class="form-group col-sm-4">
                  <label for="tinh2">Tỉnh/ Thành phố</label>
                  <select
                    class="form-control"
                    id="tinh2"
                    name="tinh2"
                    formControlName="tinh2"
                    v-model="dataForm.MaTinhTPLop11"
                    @change="getQuanHuyen(11)"
                    name="tinh2"
                    v-validate="{required: true, is_not: '00'}"
                    data-vv-as="Tỉnh/ Thành phố"
                  >
                    <option value="00">-- Chọn --</option>
                    <option v-for="tinh in lsTinhThanh" :value="tinh.MaTinhTP"
                      >{{ tinh.TenTinhTP }}</option
                    >
                  </select>
                  <span class="text-danger" v-show="errors.has('tinh2')">
                    {{ errors.first("tinh2") }}
                  </span>
                </div>
                <div class="form-group col-sm-4">
                  <label for="quan2">Quận / Huyện</label>
                  <select
                    class="form-control"
                    id="quan2"
                    formControlName="quan2"
                    v-model="dataForm.MaQuanHuyenLop11"
                    @change="getTruong(11)"
                    name="quan2"
                    v-validate="{required: true, is_not: '00'}"
                    data-vv-as="Quận/ Huyện"
                  >
                    <option value="00">-- Chọn --</option>
                    <option v-for="qh in lsQuanHuyen11" :value="qh.MaQuanHuyen"
                      >{{ qh.TenQuanHuyen }}</option
                    >
                  </select>
                  <span class="text-danger" v-show="errors.has('quan2')">
                    {{ errors.first("quan2") }}
                  </span>
                </div>
                <div class="form-group col-sm-4">
                  <label for="truong2">Trường THPT</label>
                  <select
                    class="form-control"
                    id="truong2"
                    formControlName="truong2"
                    v-model="dataForm.MaTruongLop11"
                    name="truong2"
                    v-validate="{required: true, is_not: '00'}"
                    data-vv-as="Trường"
                  >
                    <option value="00">-- Chọn --</option>
                    <option
                      v-for="truong in lsTruongTHPT11"
                      :value="truong.MaTruong"
                      >{{ truong.TenTruong }}</option
                    >
                  </select>
                  <span class="text-danger" v-show="errors.has('truong2')">
                    {{ errors.first("truong2") }}
                  </span>
                </div>
              </div> -->
              <!-- end lop 11-->
              <div class="row">
                <div class="col-sm-12">
                  <h6 class="font-weight-bold">
                    Lớp 12
                    <!-- <span class="myh6 cursor-pointer" @click="copyAbove(12)">
                      (Giống nơi học lớp 10)
                    </span> -->
                  </h6>
                </div>
              </div>
              <!-- begin lop 12-->
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="tinh3">Tỉnh/ Thành phố</label>
                  <select
                    class="form-control"
                    id="tinh3"
                    formControlName="tinh3"
                    v-model="dataForm.MaTinhTPLop12"
                    @change="getQuanHuyen(12)"
                    name="tinh3"
                    v-validate="{required: true}"
                    data-vv-as="Tỉnh/ Thành phố"
                  >
                    <option value="00">-- Chọn --</option>
                    <option v-for="tinh in lsTinhThanh" :value="tinh.MaTinhTP"
                      >{{ tinh.TenTinhTP }}</option
                    >
                  </select>
                  <span class="text-danger" v-show="errors.has('tinh3')">
                    {{ errors.first("tinh3") }}
                  </span>
                </div>
                <div class="form-group col-sm-4">
                  <label for="quan3">Quận / Huyện</label>
                  <select
                    class="form-control"
                    id="quan3"
                    formControlName="quan3"
                    v-model="dataForm.MaQuanHuyenLop12"
                    @change="getTruong(12)"
                    name="quan3"
                    v-validate="{required: true}"
                    data-vv-as="Quận/ Huyện"
                  >
                    <option value="00">-- Chọn --</option>
                    <option v-for="qh in lsQuanHuyen12" :value="qh.MaQuanHuyen"
                      >{{ qh.TenQuanHuyen }}</option
                    >
                  </select>
                  <span class="text-danger" v-show="errors.has('quan3')">
                    {{ errors.first("quan3") }}
                  </span>
                </div>
                <div class="form-group col-sm-4">
                  <label for="truong3">Trường THPT</label>
                  <select
                    class="form-control"
                    id="truong3"
                    formControlName="truong3"
                    v-model="dataForm.MaTruongLop12"
                    name="truong3"
                    v-validate="{required: true}"
                    data-vv-as="Trường"
                  >
                    <option value="00">-- Chọn --</option>
                    <option
                      v-for="truong in lsTruongTHPT12"
                      :value="truong.MaTruong"
                      >{{ truong.TenTruong }}</option
                    >
                  </select>
                  <span class="text-danger" v-show="errors.has('truong3')">
                    {{ errors.first("truong3") }}
                  </span>
                </div>
              </div>
              <!-- end lop 12-->
              <!-- <div class="form-group row">
                <label for="khuvuc" class="col-sm-3 col-form-label"
                  >Khu vực ưu tiên</label
                >
                <div class="col-sm-3">
                  <select
                    class="custom-select mr-sm-2"
                    id="khuvuc"
                    formControlName="khuvuc"
                    v-model="dataForm.KhuVuc"
                    name="khuvuc"
                    v-validate="{required: true, is_not: 0}"
                    data-vv-as="Khu vực ưu tiên"
                  >
                    <option v-for="khuvuc in lsKhuVuc" :value="khuvuc.KhuVucID"
                      >{{ khuvuc.TenKhuVuc }}</option
                    >
                  </select>
                  <span class="text-danger" v-show="errors.has('khuvuc')">
                    {{ errors.first("khuvuc") }}
                  </span>
                </div>
              </div>

              <div class="form-group row">
                <label for="doituong" class="col-sm-3 col-form-label"
                  >Đối tượng ưu tiên</label
                >
                <div class="col-sm-3">
                  <select
                    class="custom-select mr-sm-2"
                    id="doituong"
                    formControlName="doituong"
                    v-model="dataForm.DoiTuong"
                    name="doituong"
                    v-validate="{required: true, is_not: 0}"
                    data-vv-as="Đối tượng ưu tiên"
                  >
                    <option
                      v-for="doituong in lsDoiTuong"
                      :value="doituong.DoiTuongID"
                      >{{ doituong.TenDoiTuong }}</option
                    >
                  </select>
                  <span class="text-danger" v-show="errors.has('doituong')">
                    {{ errors.first("doituong") }}
                  </span>
                </div>
              </div> -->

              <div class="form-group row">
                <label for="nganh" class="col-sm-1 col-form-label"
                  >Ngành:</label
                >
                <div class="col-sm-5">
                  <select
                    class="custom-select mr-sm-2"
                    id="nganh"
                    v-model="dataForm.NganhID"
                    @change="handleChangeNganh"
                    formControlName="nganh"
                    name="nganh"
                    v-validate="{required: true}"
                    data-vv-as="Ngành học"
                  >
                    <option v-for="nganh in lsNganh" :value="nganh.NganhID"
                      >{{ nganh.TenNganh }}</option
                    >
                  </select>
                  <span class="text-danger" v-show="errors.has('nganh')">
                    {{ errors.first("nganh") }}
                  </span>
                </div>
                <!-- <label for="manganh" class="col-sm-2 col-form-label"
                  >Mã ngành:</label
                >
                <div class="col-sm-4">
                  <input
                    type="text"
                    class="form-control"
                    disabled
                    v-model="maNganh"
                    formControlName="manganh"
                    maxlength="7"
                  />
                </div> -->
              </div>

              <div v-show="!isDiemTB && dataForm.PhuongThucXetTuyen !==4">
                <div
                  class="form-group row"
                  v-if="dataForm.PhuongThucXetTuyen !== 5"
                >
                  <label for="tohop" class="col-sm-3 col-form-label"
                    >Chọn tổ hợp 3 môn:</label
                  >
                  <div class="col-sm-5">
                    <select
                      class="custom-select mr-sm-2"
                      id="tohop"
                      formControlName="tohop"
                      @change="handleChangeToHop"
                      v-model="dataForm.ToHopMonID"
                      name="tohop"
                      v-validate="{required: !isDiemTB && dataForm.PhuongThucXetTuyen !==5 }"
                      data-vv-as="Tổ hợp môn"
                    >
                      <option value="0">-- Chọn ---</option>
                      <option v-for="tohop in lsToHop" :value="tohop.MonID"
                        >{{ tohop.MoTaMon }}</option
                      >
                    </select>
                    <span class="text-danger" v-show="errors.has('tohop')">
                      {{ errors.first("tohop") }}
                    </span>
                  </div>
                </div>
                <div
                  class="form-group row"
                  v-if="lsMon.length>0 || dataForm.PhuongThucXetTuyen === 5"
                >
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="form-group col-sm-4">
                        <label
                          for="tinh3"
                          v-if="dataForm.PhuongThucXetTuyen !== 5"
                        >
                          Môn 1: <b>{{ lsMon[0].TenMon }}</b></label
                        >
                        <label
                          for="tinh3"
                          v-if="dataForm.PhuongThucXetTuyen === 5"
                        >
                          <b>Điểm lớp 11 - HK1</b></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="diemmon1"
                          v-model="dataForm.DiemMon1"
                          name="diemmon1"
                          v-validate="{required: !isDiemTB , decimal: 2, min_value: 0.0, max_value: 10.0}"
                          data-vv-as="Điểm"
                        />
                        <span
                          class="text-danger"
                          v-show="errors.has('diemmon1')"
                        >
                          {{ errors.first("diemmon1") }}
                        </span>
                      </div>
                      <div class="form-group col-sm-4">
                        <label
                          for="diemmon2"
                          v-if="dataForm.PhuongThucXetTuyen !== 5"
                        >
                          Môn 2: <b>{{ lsMon[1].TenMon }}</b></label
                        >
                        <label
                          for="diemmon2"
                          v-if="dataForm.PhuongThucXetTuyen === 5"
                        >
                          <b>Điểm lớp 11 - HK2</b></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="diemmon2"
                          v-model="dataForm.DiemMon2"
                          name="diemmon2"
                          v-validate="{required: !isDiemTB , decimal: 2, min_value: 0.0, max_value: 10.0}"
                          data-vv-as="Điểm"
                        />
                        <span
                          class="text-danger"
                          v-show="errors.has('diemmon2')"
                        >
                          {{ errors.first("diemmon2") }}
                        </span>
                      </div>
                      <div class="form-group col-sm-4">
                        <label
                          for="diemmon3"
                          v-if="dataForm.PhuongThucXetTuyen !== 5"
                        >
                          Môn 3: <b>{{ lsMon[2].TenMon }}</b></label
                        >
                        <label
                          for="diemmon3"
                          v-if="dataForm.PhuongThucXetTuyen === 5"
                        >
                          <b>Điểm lớp 12 - HK1</b></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="diemmon3"
                          v-model="dataForm.DiemMon3"
                          name="diemmon3"
                          v-validate="{required: !isDiemTB , decimal: 2, min_value: 0.0, max_value: 10.0}"
                          data-vv-as="Điểm"
                        />
                        <span
                          class="text-danger"
                          v-show="errors.has('diemmon3')"
                        >
                          {{ errors.first("diemmon3") }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-show="isDiemTB">
                <div class="form-group row">
                  <label for="diemtb" class="col-sm-2 col-form-label"
                    >Điểm trung bình:</label
                  >
                  <div class="col-sm-4">
                    <input
                      id="diemtb"
                      type="text"
                      class="form-control"
                      formControlName="diemtb"
                      v-model="dataForm.DiemTB"
                      data-vv-as="Điểm trung bình"
                      name="diemtb"
                      v-validate="{required: isDiemTB, decimal: 2, min_value: 0.0, max_value: 1200.0}"
                    />
                    <span class="text-danger" v-show="errors.has('diemtb')">
                      {{ errors.first("diemtb") }}
                    </span>
                  </div>

                  <label
                    for="sobd"
                    class="col-sm-2 col-form-label"
                    v-show="isDGNL"
                    >Số báo danh</label
                  >
                  <div class="col-sm-4" v-show="isDGNL">
                    <input
                      id="sobd"
                      type="text"
                      class="form-control"
                      formControlName="sobd"
                      v-model="dataForm.SoBD"
                      data-vv-as="Số báo danh"
                      name="sobd"
                      v-validate="{required: isDGNL}"
                    />
                    <span class="text-danger" v-show="errors.has('sobd')">
                      {{ errors.first("sobd") }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="row d-flex justify-content-center py-5">
                <button type="submit" class="btn btn-primary">
                  Cập nhật
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--End Add your code here-->

    <!--    Bootstrap script-->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script src="https://selectize.github.io/selectize.js/js/selectize.js"></script>
    <!--
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script> -->

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/vue"
    ></script>
    <script async src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script defer src="https://unpkg.com/vee-validate@2.2.15"></script>
    <script defer src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script
      defer
      type="text/javascript"
      src="assets/js/leo-v-reg.min.js?20190828"
    ></script>
    <script>
      // $(document).ready(() => {
      //   $("#tinh3").selectize();
      // });
    </script>
    <!-- End Bottstrap script -->
  </body>
</html>
